.paper{
    padding: 100px 100px;
}
body{
 
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagess/image17.avif);
}
.paper{
   
    position: absolute;
    background-image: url(imagess/image11.avif);
    background-size: 200px;
    background-position: center center;
    padding: 10px 70px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0,0,0, 0.5);
}
.paper.heart{
    position: relative;
    width: 130px;
    height: 130px;
    padding: 0;
    border-radius: 70%;
}
.paper.image{
    padding: 8px;
}
.paper.image p{
   font-size: 30px;
}
image{
    max-height: 130px;
    width: 60%;
    
}
.paper.heart::after{
    content: "";
    background-image: url(imagess/image18.avif);
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
    border-radius: 8px;
}
p{
    font-family: cursive;
    font-size: 40px;
    color: rgb(0,0,100);
    opacity: 0.75;
    
}
